@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');
@import ''
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
   --primary: #fe2c55;
   --default-layout-header-height: 60px;
   --default-layout-width: 1150px;
   --default-layout-horizontal-space: 24px;
   --black: black;
   --white: white;
   --text-color: #161823;
}
body {
   font-size: 1.6rem;
   line-height: 1.5;
   font-family: 'IBM Plex Sans', sans-serif;
   text-rendering: optimizeSpeed;
   overflow-y: overlay;
   color: var(--text-color);
   background: url('https://media.istockphoto.com/id/1142534564/vector/futuristic-holographic-neon-background.jpg?s=612x612&w=0&k=20&c=6fYCzCu7A_vRnttXMK739RSEP54IUT-5HWtYTlq_syw=')
      top right no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

html *::-webkit-scrollbar {
   border-radius: 0;
   width: 8px;
}
html *::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0);
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html {
   font-size: 62.5%;
}
button,
input,
[tabindex] {
   outline: none;
   border: none;
}
a {
   color: var(--text-color);
   text-decoration: none;
}

// // Fonts emmbeded
// @font-face {
//     font-family: ProximaNova;
//     src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
//     font-weight: 400;
// }

// @font-face {
//     font-family: ProximaNova;
//     src: url('/assets/fonts/ProximaNova-Semibold.woff2');
//     font-weight: 600;
// }

// @font-face {
//     font-family: ProximaNova;
//     src: url('/assets/fonts/Proxima-Nova-Bold.woff');
//     font-weight: 700;
// }

// @font-face {
//     font-family: SofiaPro;
//     src: url('/assets/fonts/sofiapro-bold.woff');
//     font-weight: 700;
// }

// Custom tippy tooltip
body {
   .tippy-box {
      border-radius: 8px;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.2rem;
      background-color: rgba(84, 84, 84, 0.92);
   }
   .tippy-arrow {
      color: rgba(84, 84, 84, 0.92);
   }

   .tippy-content {
      padding: 8px 9px;
   }

   .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
      top: -8px;
   }
}
